/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #8732a4;
  --ifm-color-primary-dark: #AA3CCF;
  --ifm-color-primary-darker: #AA3CCF;
  --ifm-color-primary-darkest: #AA3CCF;
  --ifm-color-primary-light: #AA3CCF;
  --ifm-color-primary-lighter: #AA3CCF;
  --ifm-color-primary-lightest: #AA3CCF;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #9939b9;
  --ifm-color-primary-dark: #AA3CCF;
  --ifm-color-primary-darker: #AA3CCF;
  --ifm-color-primary-darkest: #AA3CCF;
  --ifm-color-primary-light: #AA3CCF;
  --ifm-color-primary-lighter: #AA3CCF;
  --ifm-color-primary-lightest: #AA3CCF;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
